html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Century Gothic', sans-serif;
}
#__next {
  height: 100%;
}

@font-face {
  font-family: 'BulettoKilla';
  src: url('../src/fonts/Bulletto Killa.ttf');
}
